<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Properties>
        <Property name="serviceName">spark-processing</Property>
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] ${serviceName} %c{1.} - %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>

        <RollingFile name="AppFile"
                     fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="SpringFile"
                     fileName="logs/spring.log"
                     filePattern="logs/spring-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="SparkFile"
                     fileName="logs/spark.log"
                     filePattern="logs/spark-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.alexander" level="DEBUG" additivity="false">
            <AppenderRef ref="AppFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="SpringFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.aop.interceptor.AsyncExecutionInterceptor"
                level="ERROR" additivity="false">
            <AppenderRef ref="SpringFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.spark" level="WARN" additivity="false">
            <AppenderRef ref="SparkFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.hadoop" level="WARN" additivity="false">
            <AppenderRef ref="SparkFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
